body {
    font-family: sans-serif;
    background-color: lightgray;
}

b {
    font-size: 175%;
    font-family: sans-serif;
}

li {
    font-size: 115%;
    font-family: sans-serif;
}

h3 {
    font-style: italic
}

p {
    font-size: 135%;
}